.jumbotron {
    background: #ED213A;  /* fallback for old browsers */
    background: radial-gradient(#ED213A, #93291E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fafafa;
    border-radius: 0;
}
