.card-container {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
}

.card-container img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

